altair
attrs
blinker
cachetools
certifi
click
gitdb
GitPython
idna
importlib_metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
patsy
pillow
plotly
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
scipy
six
smmap
statsmodels
streamlit==1.31.0
streamlit-datetime-range-picker
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp
